html,
body {
  height: 100%;
  background-image: linear-gradient(-90deg, #8eda8e, hwb(350 74% 10%));
  color: #d2e2d4;
  font-family: sans-serif;
}

.main-container {
  display: grid;
  height: 50%;
  align-items: flex-end;
}

h1 {
  color: #a32d5e;
  text-align: center;
  font-weight: bold;
}

button {
  margin: 10px;
  background-color: #e6bcc3;
  font-weight: bold;
  color: #2b8b63;
  font-family: sans-serif;
  border: solid #dbe8e3;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

#center {
  margin: auto;
  text-align: center;
  width: 40%;
}

#farewell-container {
  margin: auto;
  text-align: center;
  width: 40%;
  display: none;
}

.farewell-message {
  color: black;
  font-weight: bolder;
}

#error-message,
#badge {
  color: #a32d5e;
  margin: auto;
  text-align: center;
  width: 40%;
  font-weight: bold;
}

#stat {
  color: black;
  border: 2px solid black;
}

th {
  background-color: #d86988;
  color: white;
}
